@font-face {
    font-family: 'Hepta Slab Bold';
    src: url('/assets/fonts/HeptaSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hepta Slab Regular';
    src: url('/assets/fonts/HeptaSlab-Regular.ttf') format('truetype');
}

.country-graphs-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
}

.country-charts-wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin-left: 3vw;
    margin-right: 1.5vw;
}

.country-time-analysis-wrapper{
    width: 65%;
    margin-right: 3vw;
    margin-left: 1.5vw;
}


.country-product-time-analysis-container{
    width: 99%;
    height: 34vh;
    border: 1px solid #000;
}

.country-waste-time-analysis-container{
    width: 99%;
    height: 34vh;
    border: 1px solid #000;
    margin-top: 1vh;
    
}

.country-pieChart-container{
    width: 99%;
    height: 4vh;
    border: 1px solid #000;
    margin: 10px;
    
}
.country-ranking-container{
    width: 99%;
    height: 40vh;
    border: 1px solid #000;
    overflow-y: auto;

}

.country-waste-barGraph{
    width: 100%;
    height: 100%;
}
.country-products-barGraph{
    width: 100%;
    height: 100%;
}

.country-pieChart{
    width: 100%;
    height: 100%;
}

.leaderboard-datatable{
    width: 100%;
    height: 100%;
}
