@font-face {
    font-family: 'Hepta Slab Bold';
    src: url('/assets/fonts/HeptaSlab-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Joti One';
    src: url('/assets/fonts/JotiOne-Regular.ttf') format('truetype');
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background-color: #FAD5E0;
    width: 100%;
    
}

.landingpage-navbar-body{
    font-family: 'Hepta Slab Bold', sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}

.navbar-body{
    font-family: 'Hepta Slab Bold', sans-serif;
    color: #000000;
    font-size: 20px;
    text-align: center;
    flex-grow: 1;
}

.navbar-icon-Food {
    font-family: 'Joti One', sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    padding-left: 7vh;
    padding-right: 1vh;
    display: inline-block;
    color: #EF80A2
}
.navbar-icon-Waste {
    font-family: 'Joti One', sans-serif;
    font-size: 36px;
    line-height: 36px;
    text-align: center;
    display: inline-block;
    color: #4BB274
}


