@font-face {
    font-family: 'Hepta Slab Bold';
    src: url('/assets/fonts/HeptaSlab-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Hepta Slab Regular';
    src: url('/assets/fonts/HeptaSlab-Regular.ttf') format('truetype');
}

.product-graphs-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1vh;
}

.product-charts-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin-left: 3vw;
    margin-right: 1.5vw;
}

.product-time-analysis-wrapper {
    width: 65%;
    margin-right: 3vw;
    margin-left: 1.5vw;
}

.product-waste-time-analysis-container {
    width: 99%;
    height: 34vh;
    border: 1px solid #000;
}

.product-production-time-analysis-container {
    width: 99%;
    height: 34vh;
    border: 1px solid #000;
    margin-top: 1vh;
}

.product-pieChart-container {
    width: 99%;
    height: 4vh;
    border: 1px solid #000;
    margin: 10px;
}

.product-top-countries-container {
    width: 99%;
    height: 40vh;
    border: 1px solid #000;
    overflow-y: auto;
}

.product-production-time-analysis {
    width: 100%;
    height: 100%;
}

.product-waste-time-analysis {
    width: 100%;
    height: 100%;
}

.product-pieChart {
    width: 100%;
    height: 100%;
}

.product-top-countries {
    width: 100%;
    height: 100%;
}